---
import logo from "../assets/images/logo.svg";
---

<header class="header">
  <button class="burger">
    <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M20 12v2H0v-2h20zm0-6v2H0V6h20zm0-6v2H0V0h20z"
        fill="#FFF"
        fill-rule="evenodd"></path></svg
    ></button
  >
  <img class="logo" src={logo.src} alt="Room's logo" />
  <nav class="nav">
    <a class="nav-link" href="#!">Home</a>
    <a class="nav-link" href="#!">Shop</a>
    <a class="nav-link" href="#!">About</a>
    <a class="nav-link" href="#!">Contact</a>
  </nav>
</header>

<style>
  .header {
    position: absolute;
    top: clamp(2.75rem, 6vw, 3.75rem);
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: var(--content-offset);
  }

  .burger {
    color: var(--color-nav-link);
  }

  .nav {
    display: none;
  }

  @media (width > 768px) {
    .header {
      width: fit-content;
    }

    .burger {
      display: none;
    }
    .logo {
      padding-inline-end: 3.5rem;
    }

    .nav {
      display: flex;
      gap: 1.875rem;
      text-transform: lowercase;
    }

    .nav-link {
      text-decoration: none;
      font-weight: 700;
      color: var(--color-nav-link);
    }
  }
</style>
