---
import hero from "../assets/images/mobile-image-hero-1.jpg";
import heroDesk from "../assets/images/desktop-image-hero-1.jpg";
import aboutDark from "../assets/images/image-about-dark.jpg";
import aboutLight from "../assets/images/image-about-light.jpg";
import IconAngleLeft from "../components/ui/IconAngleLeft.astro";
import IconAngleRight from "../components/ui/IconAngleRight.astro";
---

<main class="main">
  <section id="hero" class="section hero">
    <h1 class="sr-only"></h1>

    <div class="swiper">
      <picture>
        <source media="(min-width: 375px)" srcset={heroDesk.src} sizes="" />
        <img class="swiper-img" src={hero.src} alt="hero1" />
      </picture>

      <div class="swiper-buttons">
        <button class="swiper-button">
          <IconAngleLeft />
        </button>
        <button class="swiper-button">
          <IconAngleRight />
        </button>
      </div>
    </div>

    <div class="card hero__card">
      <h2 class="hero-title">Discover innovative ways to decorate</h2>
      <p class="description hero__descr">
        We provide unmatched quality, comfort, and style for property owners
        across the country. Our experts combine form and function in bringing
        your vision to life. Create a room in your own style with our collection
        and make your property a reflection of you and what you love.
      </p>
      <a class="hero__link" href="#!">Shop now</a>
    </div>
  </section>
  <section id="about" class="section about">
    <picture>
      <img class="about__img" src={aboutDark.src} alt="hero1" />
    </picture>

    <div class="card about__card">
      <h2 class="title about__title">About our furniture</h2>
      <p class="description">
        Our multifunctional collection blends design and function to suit your
        individual taste. Make each room unique, or pick a cohesive theme that
        best express your interests and what inspires you. Find the furniture
        pieces you need, from traditional to contemporary styles or anything in
        between. Product specialists are available to help you create your dream
        space.
      </p>
    </div>

    <picture>
      <img class="about__img" src={aboutLight.src} alt="hero1" />
    </picture>
  </section>
</main>

<style>
  .main {
    display: grid;
  }

  .section {
    display: grid;
  }

  .hero-title {
    line-height: 1.1;
    font-size: clamp(35px, 4vw, 45px);
  }

  .swiper {
    position: relative;
  }

  .swiper-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
  }

  .swiper-button {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    color: var(--color-nav-link);
    background-color: var(--color-text);
  }

  .card {
    padding-inline: var(--content-offset);
  }

  @media (width > 768px) {
    .section:nth-child(1) {
      grid-template-columns: 1.4fr 1fr;
    }
    .section:nth-child(2) {
      grid-template-columns: auto 580px auto;
    }

    .hero__card {
      display: flex;
      flex-direction: column;
      gap: 1.1rem;
      padding-block-start: clamp(32px, 8vw, 115px);
      padding-block-end: 115px;
      padding-inline: clamp(32px, 7vw, 100px);
    }

    .hero__link {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--color-text);
      font-size: 1.1rem;
      letter-spacing: 11px;
    }

    .swiper-img {
      height: 100%;
      object-fit: cover;
      object-position: left;
    }

    .swiper-buttons {
      right: -161px;
    }

    .swiper-button {
      padding: 1.75rem 2.1rem;
    }

    .about__card {
      padding: 3.875rem 3rem 3rem;
    }

    .about__title {
      margin-block-end: 0.625rem;
    }

    .about__img {
      height: 100%;
      object-fit: cover;
    }
  }
</style>
