:root {
  --color-bg: hsl(0, 100%, 100%);
  --color-text: hsl(0, 0%, 0%);
  --color-text-500: hsl(0, 0%, 63%);
  --color-text-800: hsl(0, 0%, 27%);
  --color-nav-link: hsl(0, 100%, 100%);
  --color-accent: hsl(43, 74%, 49%);
  --color-active: hsl(0, 100%, 100%);


  --header-offset: clamp(1.5rem, 6vw, 4rem);
  --content-offset: clamp(2rem, 6vw, 4rem);

  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: var(--color-active);
  background-color: var(--color-text-800);
}

body {
  max-width: 1440px;
  margin-inline: auto;
  font-family: var(--font-main), sans-serif;
}

@layer reset {
  button {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }

  h2 {
    margin-block: 0;
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.title {
  text-transform: uppercase;
  font-size: clamp(0.875rem, 2vw, 1.1rem);
  letter-spacing: 6.2px;
}

.description {
  line-height: 1.4;
  letter-spacing: -0.2px;
  color: var(--color-text-500);
}

.card {
  padding-inline: var(--content-offset);
}