<div id="mobile-menu" class="menu" popover aria-label="mobile menu">
  <button
    type="button"
    class="close-btn"
    popovertarget="mobile-menu"
    popovertargetaction="toggle"
    aria-label="Close menu"
  >
    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" fill="red">
      <path
        d="M14.364.222l1.414 1.414L9.414 8l6.364 6.364-1.414 1.414L8 9.414l-6.364 6.364-1.414-1.414L6.586 8 .222 1.636 1.636.222 8 6.586 14.364.222z"
        fill-rule="evenodd"
        opacity=".201"
      >
      </path>
    </svg>
  </button>
  <slot />
</div>

<style>
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-inline: var(--header-offset);
    padding-block: 3rem;
    border: none;

    transition:
      opacity 0.5s,
      transform 0.5s,
      display 0.5s allow-discrete,
      overlay 0.5s allow-discrete;

    &:popover-open {
      opacity: 1;
      transform: translateY(0);
    }

    &::backdrop {
      background-color: transparent;
      transition: background-color 0.5s;
    }

    &:popover-open::backdrop {
      background-color: hsl(from var(--color-text) h s l / 0.5);
    }

    @starting-style {
      &:popover-open {
        opacity: 0;
        transform: translateY(-100%);
      }

      &:popover-open::backdrop {
        background-color: transparent;
      }
    }
  }

  .menu:not(:popover-open) {
    display: none;
    opacity: 0;
    transform: translateY(-100%);
  }

  .close-btn {
    display: flex;

    &:focus-visible {
      outline: 0.125rem solid var(--color-accent);
      outline-offset: 0.25rem;
    }

    &:active {
      color: red;
    }
  }

  @media (width > 48rem) {
    .menu:not(:popover-open) {
      display: contents;
    }

    .close-btn {
      display: none;
    }
  }
</style>
